entrypoint = "main.py"
run = "python3 main.py"
modules = ["python-3.11"]

[env]
PORT = "8080"

[deployment]
run = ["sh", "-c", "pip install -r requirements.txt && python3 main.py"]
deploymentTarget = "cloudrun"
